<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ConcurrencyAndDistribution_CLIENT/src/com/iscte/queque/client/test/list/json/JSONMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.iscte.queque.client.test.list.json.JSONMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ConcurrencyAndDistribution_CLIENT"/>
</launchConfiguration>
